body {
  padding-top: 50px;
}

#status{
  padding-top: 20px;
}

#statusText{
  padding: 5px;
}

#controls{
  padding-top: 50px;
}

.download-group{
  width:  100%;
  height: 50px
}

#delay{
  width: 40%;
  float: left;
}

.controls{
  width: 100%;
  height: 50px;
  margin-top: 10px;
}

#settingsButton{
  width: 45%;
  float: right;
}

#downloadButton{
  width:45%;
  float: left;
}

#gallery{
  margin-top: 200px;
  border: 1px solid #333;
  height: 150px;
}

#gallery p{
  padding-top: 40px;
  text-align: center;
}

#gallery img{
  width: 200px;
}